BasedOnStyle: LLVM
ColumnLimit: 80
UseTab: Always
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AlignAfterOpenBracket: BlockIndent
BreakBeforeTernaryOperators: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All